<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Servlet</display-name>

	<!-- Servlet Definations -->
	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>test.FirstServlet</servlet-class>
	</servlet>
	
	<!-- Servlet Mappings -->
	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- Filter Definations -->
	<filter>
		<filter-name>f1</filter-name>
		<filter-class>test.FirstFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>f2</filter-name>
		<filter-class>test.SecondFilter</filter-class>
	</filter>
	
	<!-- Filter Mappings -->
	<filter-mapping>
		<filter-name>f1</filter-name>
		<url-pattern>/firstServlet</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>f2</filter-name>
		<url-pattern>/firstServlet</url-pattern>
	</filter-mapping>


	<!-- welcome files -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>